---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ metadata.url }}</loc>
    <lastmod>{{ now | date("YYYY-MM-DD") }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  {%- for page in collections.all %}
  {%- if page.url and page.url != "/" %}
  <url>
    <loc>{{ page.url | absoluteUrl(metadata.url) }}</loc>
    <lastmod>{{ page.date | date("YYYY-MM-DD") }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
